name: Deploy

on: push

jobs:
  firts_job:
    runs-on: ubuntu-latest
              
    steps:
    
      - name: Print variable
        run: echo "${{ secrets.NAME_SECRECT }}"
    
      - name: checkout
        uses: actions/checkout@v3

      - name: setup
        uses: actions/setup-node@v4
        with:
          node-version: '18'

      - name: Install dependencies
        run: npm install

      - name: Run test
        run: npm test